.main{
  width: 100%;
  height: 100vh;
  position: relative;
}
.main__ellipse{
  position: absolute;
  width: 200px;
  height: 200px;
  background: #E84343;
}
.main__ellipse-top{
  border-radius: 0px 0px 100% 0px;
}
.main__ellipse-bottom{
  right: 0px;
  bottom: 0px;
  border-radius: 100% 0px 0px 0px;
}
.content{
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  width:80%;
  height: 70%;
  display: flex;
  transform: translate(-50%,-50%);
  border-radius: 20px;
  box-shadow: 0px 11px 10px rgba(0, 0, 0, 0.25);
}
.leftside{

  width: 50%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
}
.leftside__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
}
.leftside__content__logo{
  height: 33.333%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}
.leftside__content__logo-welcome{
  font-family: 'Arial';
  font-style: normal;
  font-size: 20px;
}
.leftside__content__logo-name{
  display: flex;
  justify-content: center;
}
.leftside__content__logo-name  img {
  height: 64px;
  width: 64px;
}

.leftside__content__logo-name > span {
  color: #E84343;
  font-size: 64px;
  font-weight: bold;
}
.leftside__content__form{
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.leftside__content__form form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.leftside__content__form input{
  width: 475px;
  height: 52px;
  border: 1px solid black;
  border-radius: 85px;
  padding-left: 20px;
}
.leftside__content__form input:first-child{
  margin-bottom: 30px;
}
.leftside__content__form input:last-child{
    margin-top: 30px;
    width: 475px;
    height: 52px;
    border-radius: 85px;
    border: 0px;
    background: #E84343;
    font-size: 24px;
    color: white;
}
.leftside__content__button{
  height: 33.333%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.leftside__content__button-hyperlink span{
  font-style: normal;
  font-weight: lighter;
}
.leftside__content__button-hyperlink a{
  text-decoration: none;
  color: #E84343;
}
.rightside{
  background-image: url(Assets/images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  overflow: hidden;
}
.rightside__content{
  width: 100%;
  height: 100%;
  background: rgba(232, 67, 67, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rightside__content__logo{
  background-image: url(Assets/images/logo.svg);
  width: 150px;
  height: 150px;
}
.rightside__content__name{
  font-size: 80px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: bold;
  color: white;
}
